.advantages
  .max-width-wrap
    .advantages__content-wrap
      .advantages__row
        .advantages__img-block
          .advantages__style-print
            svg(class="advantages__style-print-img" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#pattern")
          img(class="advantages__img-block-img" src=require("../../../assets/images/pages/home/img__advantages-01.jpg"))
        .advantages__void-block
        .advantages__content-block
          .advantages__icon-svg-wrap
            svg(class="advantages__icon-svg" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#guarantee")
          .advantages__h2-wrap
            h2.advantages__h2
              | Гарантии на работы и запчасти
            .advantages__h2-number-text-wrap
              p.advantages__h2-number-text
                | 01
          .advantages__text
            | Мы уверены в качестве наших работ и запчастей. Поэтому вы можете проверять его в течении года. Любой недостаток в работе или запчасти в этот период будет выявлен и устранен бесплатно.
      .advantages__hr
.advantages
  .max-width-wrap
    .advantages__content-wrap
      div(class="advantages__row advantages__row__mobile-fix-padding")
        .advantages__content-block__padding-left_none
          .advantages__icon-svg-wrap
            svg(class="advantages__icon-svg" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#parts")
          .advantages__h2-wrap
            h2.advantages__h2
              | Используем оригинальные запасные части
            .advantages__h2-number-text-wrap
              p.advantages__h2-number-text
                | 02
          .advantages__text
            | Мы используем оригинальные запасные части и только качественные аналоги проверенные временем. Собственный склад запасных частей позволяет выполнять сложный ремонт без потери времени на ожидание. Мы найдем любую деталь для вашего Land Rover. Даже если она есть только в Англии.
        .advantages__void-block
        .advantages__img-block__padding-left_true
          .advantages__style-print__position_right
            svg(class="advantages__style-print-img" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#pattern")
          img(class="advantages__img-block-img" src=require("../../../assets/images/pages/home/img__advantages-02.jpg"))
      .advantages__hr
.advantages
  .max-width-wrap
    .advantages__content-wrap
      .advantages__row
        .advantages__img-block
          .advantages__style-print
            svg(class="advantages__style-print-img" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#pattern")
          img(class="advantages__img-block-img" src=require("../../../assets/images/pages/home/img__advantages-03.jpg"))
        .advantages__void-block
        .advantages__content-block
          .advantages__icon-svg-wrap
            svg(class="advantages__icon-svg" aria-hidden="true")
              use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#price")
          .advantages__h2-wrap
            h2.advantages__h2
              | Наши цены до 70% ниже ОД
            .advantages__h2-number-text-wrap
              p.advantages__h2-number-text
                | 03
          .advantages__text
            | Мы придерживаемся адекватной ценовой политики и ежемесячно проводим выгодные акции на Техническое обслуживание и Ремонт. А кэшбек по программе лояльности LR-AVANGARD позволяет полностью оплачивать наши услуги бонусными баллами.
      .advantages__hr
form.form-block
  input(type='hidden', name='project_name', value=projectName)
  input(type='hidden', name='admin_email', value=adminEmail)
  input(type='hidden', name='mail_subject', value=`Заявка с сайта "${nameSite}"`)
  // Hidden Advanced Fields
  input(class="modal__form-page", type="hidden", name="Страница", value=pageTitle)
  input(class="modal__form-type", type="hidden", name="Форма", value="Форма заявки с коротким описанием проблемы")
  // UTM fields
  input(type="hidden" name="Канал трафика" value="" class="utm_medium")
  input(type="hidden" name="Источник трафика" value="" class="utm_source")
  input(type="hidden" name="Название кампании" value="" class="utm_campaign")
  input(type="hidden" name="Ключевое слово" value="" class="utm_term")
  input(type="hidden" name="Содержание кампании" value="" class="utm_content")
  .form-block__wrap
    .form-block__h2-wrap
      h2.form-block__h2
        | Оставьте заявку с коротким описанием проблемы
    .form-block__field
      label(class="form-block__label" for="input-name-fb")
        | ваше имя
      input(class="form-block__input", id="input-name-fb" type="text", maxlength="50", name="Имя", required)

    .form-block__field
      label(class="form-block__label" for="input-phone-fb")
        | телефон
      input(class="form-block__input", id="input-phone-fb" placeholder="+7" type="phone", maxlength="50", name="Телефон", required)

    .form-block__field__comment_true
      .form-block__comment-wrap
        label(class="form-block__label" for="input-comments")
          | ваши комментарии
        textarea(class="form-block__input" id="input-comments"  maxlength="200" name="Комментарии", cols="10", rows="3")
        .form-block__button-wrap
          button(class="form-block__button" type="submit")
            ul.card-gift__ul-choose
              li.card-gift__ellipse
              li.form-block__choose-text
                | Отправить

  //- .form-block__wrap
  //-     .gifts-form__field__name
  //-         label(class="gifts-form__label" for="input-name")
  //-             | ваше имя
  //-         input(class="gifts-form__input", id="input-name" type="text", maxlength="100", name="Имя", required="")
  //-     .gifts-form__field__phone
  //-         label(class="gifts-form__label" for="input-phone")
  //-             | телефон
  //-         input(class="gifts-form__input", id="input-phone" placeholder="+7" type="text", maxlength="100", name="Имя", required="")
  //-     .gifts-form__button-wrap
  //-         button.gifts-form__button
  //-                 | Отправить