.header-block
	.header-block__max-width-wrap
		.header-block__logo-section
			.telephone
				a(class ="telephone__link" href=phoneLink title="Позвонить") #{userPhone}
			.logo
				a(href="/" title="Сервис Ленд Ровер в Москве")
					img(src=require("../../../assets/images/common/img__logo.svg") alt="Сервис Ленд Ровер в Москве" title="Сервис Ленд Ровер в Москве")
			.menu
				span.menu__span-text
					| #{userMail}
				//- p.menu__span-block
				//- 	span.menu__span-icon
				//- 		svg(class="menu__icon" aria-hidden="true")
				//- 			use(xlink:href="/assets/images/common/sprite__icons.svg#menu")
					span.menu__span-text
						| меню
		.header-block__line-block
			hr.header-block__hr
		.header-block__left-wrap
			.header-block__lr
				p.header-block__lr-text
					| LR
			.header-block__avangard
				p.header-block__avangard-p
					| Avangard
			.header-block__car
				img(class="header-block__car-img" src=require("../../../assets/images/pages/home/img__main-screen-car.jpg"))
		.header-block__text-wrap
			.header-block__text
				h1.header-block__text-h1
					| Новый сервис Ленд Ровер на ТТК в Москве!
				p.header-block__text-description 
					| Гарантируем лучшее предложение по Москве!
					br
					| Звоните: 
					span
						a(class = "header-block__a-phone" href=phoneLink)
							| #{userPhone}
					|  Приезжате:
					br
					| #{userAddress}
		//- .header-block__style-print
		//- 	svg(class="header-block__style-print-img" aria-hidden="true")
		//- 		use(xlink:href="/assets/images/common/sprite__icons.svg#pattern")
		.header-block__padding-block