.team
  .team__photos
    img(src=require("../../../assets/images/pages/home/img__team-person-bondarec.jpg"))
    img(src=require("../../../assets/images/pages/home/img__team-person-latipov.jpg"))
    img(src=require("../../../assets/images/pages/home/img__team-person-ponomarev.jpg"))
    img(src=require("../../../assets/images/pages/home/img__team-person-siromyatnikov.jpg"))
    img(src=require("../../../assets/images/pages/home/img__team-person-sviderskiy.jpg"))
    img(src=require("../../../assets/images/pages/home/img__team-person-tenkov.jpg"))
  .team__max-width-wrap
    .team__content-wrap
      .team__bridge-img-wrap
        img(class="team__bridge-img" src=require("../../../assets/images/pages/home/img__team-bridge.jpg"))
      .team__main-content-wrap
        h2.team__h2
          | Кто мы? Наша команда!
        .team__hr
        .team__text-block
          .team__text-block-item__padding-left_none
            p.team__content-text__first-letter_stylish
              | Наша профессиональная команда работает вместе более 4 лет. Мы действительно преданны своему делу. Каждый из нас получил огромный опыт работы с Ленд Ровер, в том числе у Официального Дилера. Чтобы досканально знать эти автомобили и их проблемы, мы не останавливаемся на достигнутом и совершенствуем свои навыки.
          .team__text-block-item
            p.team__content-text__text_original
              | Каждый сотрудник проходит ежеквартальное обучение и узнает последние тенденции конструкции, диагностики и ремонта Land Rover.
        .team__hr__margin-top_none
      .team__preview
        .team__preview-item
          div(class="team__preview-circle team__preview-circle__border_true" id="bondarec")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-bondarec-preview.jpg"))
        .team__preview-item
          div(class="team__preview-circle" id="latipov")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-latipov-preview.jpg"))
        .team__preview-item
          div(class="team__preview-circle" id="ponomarev")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-ponomarev-preview.jpg"))
        .team__preview-item
          div(class="team__preview-circle" id="siromyatnikov")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-siromyatnikov-preview.jpg"))
        .team__preview-item
          div(class="team__preview-circle" id="sviderskiy")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-sviderskiy-preview.jpg"))
        .team__preview-item
          div(class="team__preview-circle" id="tenkov")
            img(class="team__preview-photo-img" src=require("../../../assets/images/pages/home/img__team-person-tenkov-preview.jpg"))
        //- .team__preview-item
        //-     .team__preview-circle
        //-         .team__preview-photo-img__photo_false
        //-             p.team__preview-photo-text
        //-                 | 03
      .personal-preview
        .personal-preview__fill-block
        .personal-preview__img-wrap
          img(class="personal-preview__img" src=require("../../../assets/images/pages/home/img__team-person-bondarec.jpg"))
          .personal-preview__hr
          .personal-preview__name-wrap
            p.personal-preview__name
              | Бондарец
              br
              | Сергей
            .personal-preview__brief
              p.personal-preview__vacancy
                | механик / 32 года
              p.personal-preview__experience
                | Опыт рабты с Land
                br
                | Rover 8 лет
              .personal-preview__arrows
                .personal-preview__arrow__position_left
                .personal-preview__arrow__position_right
                .personal-preview__arrow-svg-wrap__position_left
                  svg(class="personal-preview__arrow-svg__left_true" aria-hidden="true")
                    use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#arrow-left")
                .personal-preview__arrow-svg-wrap__position_right
                  svg(class="personal-preview__arrow-svg__right_true" aria-hidden="true")
                    use(xlink:href=require("../../../assets/images/common/sprite__icons.svg") + "#arrow-right")
            .personal-preview__add-text-wrap
              p.personal-preview__add-text__first-feature
                | Количество нормо-часов за прошлый год:
                br
                | 2619.
                br
                br
              p.personal-preview__add-text__second-feature
                | Любимая модель Ленд Ровер — Range Rover 
                br
                | Sport 2 3.0SC 340hp.